html{
    background-color: #0f4956;
}
.header{
    display:flex;
    justify-content: center;
}
button{
    color: white;
    display: inline-block;
    justify-content: center;
    width: 33%;
    padding: 1.5em;
    border-radius: 1.75em;
    font-size: large;
}

#player1{
    background-color: #A3B184 ;
}
 #player2{
    background-color:#39B7F3;
 }

 #reset{
     background-color: #F95060;
 }

h1{
    text-align: center;
    color: white;
}